body {
    margin: 0 auto;
    background: linear-gradient(50deg, hsl(80, 40%, 70%), hsl(200, 40%, 70%));
}

.hidden {
    display: none;
}

section {
    border : 1px dashed burlywood;
    padding: 20px;
    margin: 20px;
}

caption {
    text-align: left;
    padding: 10px 0px 20px 0px;
}

li > a {
    text-decoration: none;
    display: block;
    color: #6f6f6f;
    background: #EEE;
    -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 0px 20px 2px 20px;
}

li a:hover {
    color: #8470FF;
    background: #f6f6f6;
}

ul {
    list-style-type : none;
    margin: 4px;
    padding: 5px;
}

.template {
    display: none;
}

table {
    border: 1px solid blue;
    border-collapse: separate;
    padding: 10px;
    min-width: 70%;
}

input[type='text'] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
    transition: all .4s ease;
}

img {
    width: 100%;
}